[Unit]
Description=Code playgrounds
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/projects/kfs/codapi
ExecStart=/usr/local/bin/codapi --port=12000
Restart=always
RestartSec=3
LimitNOFILE=4096
User=ubuntu

[Install]
WantedBy=multi-user.target

